<html>
    <head>
        <title>PrintEase</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <h2>PrintEase</h2><h4>(Streamlined Printing Services For Local Shops and Customers)</h4><br>
        <p class="lead">Print Any file <b>Just with One Click</b><br>(credits: Samuel, Santhosh & Vejay)</p>
        <br>
        <h2>Payment Succesful!</h2>
        <h4>You will be notified shortly once the printing is done!</h4>
        <h4>Thank You for using PrintEase!</h4>
   </body>
</html>