<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>PrintEase</title>
    
</head>
<body>
    <div class="page">
    <div class="navi">
    <button class="navigator" type="button" onclick="alert('login page not yet developed')">LOGIN</button>
    <button class="navigator2" type="button" onclick="alert('login page not yet developed')">SIGNUP</button>
</div>
    <div class="container">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1gJ7Ybh39r8vk15z8m1O0G-RrD5nN628&ehbc=2E312F" width="1300" height="500" ></iframe>
    </div>

</div>
</body>
</html>