<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/form.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintEase</title>
</head>
<body>
    <h2>PrintEase</h2><h4>(Streamlined Printing Services For Local Shops and Customers)</h4><br>
    <p class="lead">Print Any file <b>Just with One Click</b><br>(credits: Samuel, Santhosh & Vejay)</p>
    
    <center><iframe id="loc" src="https://www.google.com/maps/d/u/0/embed?mid=1CmQaBrL6GIuVYSU64_YpAlguQ0ul3dY&ehbc=2E312F" width="90%" height="500px" ></iframe></center>
    <button id="demo" onclick="locationmp()"  class="search btn">SEARCH SHOP NEAR ME</button>
    <form method="POST" action="/PrintEase">
        <div class="dropdown">
            
            <select name="shops" class="but" id="shop" hidden onchange="getText(this)">
                <option value="">-- Select A Shop -- </option>
                <option value=0>Jessi Xerox</option>
                <option value=1>College Xerox</option>
                <option value=2>Sri Ram Xerox</option>
                
              </select>
          </div> 
    
          <div id="textDiv" class="details"> </div>
    <!-- <button id="next" class="proc" onclick="go()" hidden>PROCEED</button> -->
    <input id="proceed" class="proc" type="submit" value="PROCEED" hidden>
        </form>
        <script>

            function locationmp() {
              document.getElementById("loc").src = "https://www.google.com/maps/d/u/0/embed?mid=1gJ7Ybh39r8vk15z8m1O0G-RrD5nN628&ehbc=2E312F";
              document.getElementById("shop").setAttribute("style", "display:inline-block");
            }
            
             
            
            
            
            var DivTxt = new Array()
            DivTxt[0] = "Select any one of the shop listed!"
            DivTxt[1] = "Name of the Shop: Jessi Xerox " + "<br>" + "Price for Singleside Black&White print: Rs.3 "+ "<br>" + "Price for Doubleside Black&White print: Rs.2"+ "<br>"+ "Price for Singleside color print: Rs.10"+ "<br>" + "Price for Doubleside color print: Rs.9"
            DivTxt[2] = "Name of the Shop: College Xerox " + "<br>" + "Price for Singleside Black&White print: Rs.2 "+ "<br>" + "Price for Doubleside Black&White print: Rs.1"+ "<br>"+ "Price for Singleside color print: Rs.9"+ "<br>" + "Price for Doubleside color print: Rs.8"
            DivTxt[3] =  "Name of the Shop: Sri Ram Xerox " + "<br>" + "Price for Singleside Black&White print: Rs.4 "+ "<br>" + "Price for Doubleside Black&White print: Rs.3"+ "<br>"+ "Price for Singleside color print: Rs.11"+ "<br>" + "Price for Doubleside color print: Rs.10"
            
            function getText(slction){
            txtSelected = slction.selectedIndex;
                if(txtSelected==0){
                document.getElementById('textDiv').innerHTML = DivTxt[txtSelected];
                document.getElementById('proceed').setAttribute("style", "display:inline-block");
                    
                }
                else{
                document.getElementById('textDiv').innerHTML = DivTxt[txtSelected];
                document.getElementById('proceed').setAttribute("style", "display:inline-block");
            
                }
            }
            
            
            
            
            
            
            </script>
</body>
</html>