<html>
    <head>
        <title>PrintEase</title>
        <link rel="stylesheet" href="static/style.css"/>
        <script>
            // Set the 2 minute countdown
            var timer = 120;
            var intervalId = setInterval(function(){
                timer--;
                // Update the timer element with the current time
                document.getElementById("timer").innerHTML = timer;
                if(timer === 0){
                    // Stop the interval when the timer reaches 0
                    clearInterval(intervalId);
                    // Display the timeout message
                    document.getElementById("timeout").style.display = "block";
                }
            }, 1000);
        </script>
    </head>
    <body>
        <h2>PrintEase</h2><h4>(Streamlined Printing Services For Local Shops and Customers)</h4><br>
        <p class="lead">Print Any file <b>Just with One Click</b><br>(credits: Samuel, Santhosh & Vejay)</p>
        <br>
        <center><img src="static/qr.png" height="300px" width="300px"></center>
        <h2>Scan to Proceed for Payment!</h2>
        <br>
        <h2>Total Rs {{cost}}</h2>
        <br>
        <div id="timer"></div>
   </body>
   <!-- <script>
    window.location.href = "{{data}}";
</script> -->
   
</html>