<html>
    <head>
        <title>PrintEase</title>
        <link rel="stylesheet" href="style.css"/>
        <script>
            // Set the 2 minute countdown
            var timer = 6;
            var intervalId = setInterval(function(){
                timer--;
                // Update the timer element with the current time
                document.getElementById("timer").innerHTML = timer;
                if(timer === 0){
                    // Stop the interval when the timer reaches 0
                    clearInterval(intervalId);
                    // Display the timeout message
                    window.location.href="http://192.168.1.15:5000"
                }
                
            }, 1000);
            
        </script>
    </head>
    <body>
        <h2>PrintEase</h2><h4>(Streamlined Printing Services For Local Shops and Customers)</h4><br>
        <p class="lead">Print Any file <b>Just with One Click</b><br>(credits: Samuel, Santhosh & Vejay)</p>
        <br>
        <h2  style="color:red;">!!!QR Code already Scanned!!!</h2>
        <h4>You will be redirected to the main page in <span id="timer"></span></h4>
   </body>
</html>